[submodule ".registry"]
	path = .registry
	url = https://github.com/neuroshepherd/neuroshepherd.r-universe.dev
	branch = HEAD
[submodule "gradecast"]
	path = gradecast
	url = https://github.com/NeuroShepherd/gradecast
